@model IEnumerable<TheNoonlife.Models.Restaurant>

@{
    ViewBag.Title = "FindBrunchiness";
}


<h2>FindBrunchiness</h2>
<p>@foreach (var item in Model)
{
    @Html.ActionLink(item.Name, "Result", "Home", new { Id = item.Id }, null)<br />
}</p>

