@using (Html.BeginForm("FindBrunchWithSearch", "Home"))
{
  @Html.TextBox("LocationName")
    <input type="submit"/>
    
}
@using (Html.BeginForm("FindBrunchWithCurrentLocation", "Home"))
    {
        <input type="submit" /><p>Get Brunches by Geolocation</p>
    }
