@using (Html.BeginForm("FindBrunchWithSearch", "Home"))
{
  @Html.TextBox("LocationName")
    <input type="submit"/>
}
<link href="~/Content/custom.css" rel="stylesheet" />

@using (Html.BeginForm("FindBrunchWithCurrentLocation", "Home"))
    {
        <input type="submit" /><p>Get Brunches by Geolocation</p>
    }

<div class="jumbotron"> this</div>
