@model TheNoonlife.Models.Restaurant

@{
    ViewBag.Title = "Result";
}

<h2>@Model.Name</h2>
<p>
    <img src="@Model.Picture" width="200" height="200" /><br />    
    Price: @Model.Price<br />

    @using (Html.BeginForm("AddFavoriteRestaurant", "Home"))
    {
        <button type="submit" value="@Model.Id" name="selectedRestaurantId">Favorite This Place</button>
    }
</p>
