@model TheNoonlife.Models.Restaurant

@{
    ViewBag.Title = "Result";
}

<h2>Result</h2>
<p>
    <img src="@Model.Picture" width="200" height="200" /><br />
    @Model.Name<br />
    @Model.Price<br />
    
    @using (Html.BeginForm("AddFavoriteRestaurant", "Home"))
    {
        <input type="submit" value="@ViewBag.Name" name="selection" />
    }
</p>
