@model IEnumerable<TheNoonlife.Models.Restaurant>

@{
    ViewBag.Title = "Result";
}

<h2>Result</h2>
<p>
    
    @ViewBag.Name<br />
    @ViewBag.Price<br />
    <img src="@ViewBag.Picture" width="200" height="200" /><br />
</p>
