@model TheNoonlife.Models.ApplicationUser

@{
    ViewBag.Title = "UserHomePage";
}
@Html.TextBox("LocationName")
<input type="submit" />

<h2>UserHomePage</h2>
@Model.FavoriteRestaurant

@Html.DisplayNameFor(model => model.FavoriteRestaurant)
